SECRET_KEY=
FRONTEND_URL=
ENVIRONMENT=
DATABASE_URL=
REDIS_URL=
PAYSTACK_SECRET_KEY=
PAYSTACK_WEBHOOK_SECRET=
RESEND_API_KEY=
FROM_EMAIL=
META_WHATSAPP_TOKEN=
META_WHATSAPP_PHONE_NUMBER_ID=
META_WHATSAPP_BUSINESS_ACCOUNT_ID=
